<ion-header>
  <ion-toolbar>
    <ion-title>Animationen</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/animations/new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- List animations -->
  <ion-item *ngFor="let animation of animations; trackBy: trackAnimations" lines="none" class="ion-margin-bottom round-edge" button (click)="onAnimationClick(animation)">
    <ion-icon slot="start" name="sparkles" color="white" class="list-main-icon" style="margin-right: 15px;"></ion-icon>
    <ion-label>{{animation.name}}</ion-label>
  </ion-item>

</ion-content>
