<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lichtdisko einstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>
      <ion-label>
        <h2>Audio-Quelle</h2>
        <p>-</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Hauptlicht</h2>
        <p>-</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Nebenlicht</h2>
        <p>-</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Farben</h2>
        <p>Intelligent</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Turbulenz</h2>
        <p>Intelligent</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Songteile und Animationen</h2>
        <p>Benutzerdefiniert</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h2>Feedback nach Songende</h2>
        <p>Aus</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
