<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!--<ion-tab-button tab="overview" (click)="navCtrl.navigateRoot('/overview', {animated: true})">
      <ion-icon name="home"></ion-icon>
      <ion-label>Übersicht</ion-label>
    </ion-tab-button>-->

    <!--<ion-tab-button tab="music">
      <ion-icon name="musical-notes" (click)="navCtrl.navigateRoot('/music', {animated: true})"></ion-icon>
      <ion-label>Musik</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="devices" (click)="navCtrl.navigateRoot('/devices', {animated: true})">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Geräte</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="animations" (click)="navCtrl.navigateRoot('/animations', {animated: true})">
      <ion-icon name="sparkles"></ion-icon>
      <ion-label>Animationen</ion-label>
    </ion-tab-button>-->

  </ion-tab-bar>
</ion-tabs>
